<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  </head>
  <body>
    <%- include('partial/navbar') %>

    <div class="banner">
      <img src="img/banner.jpg" alt="" id="desktop" />
      <img src="img/banner-mobile.jpg" alt="" id="mobile" />
    </div>

    <div class="wrapper">
      <div class="product-cards">
        <!-- 1 -->
        <div class="product-card">
          <div class="p-img">
            <img src="img/3.jpg" alt="Product Image" />
          </div>
          <div class="product-details">
            <h2>Seiko Men 5 Sports Round Blue Watches</h2>
            <p class="price">&#x20b9;25000</p>
            <p class="description">
              Buy Seiko Sports Round Automatic Blue Dial Men Watch - SRPD53K1
            </p>
            <!-- <button class="add-to-cart">Add to Cart</button> -->
          </div>
        </div>

        <!-- 2 -->
        <div class="product-card">
          <div class="p-img">
            <img src="img/2.jpg" alt="Product Image" />
          </div>
          <div class="product-details">
            <h2>Milus Unisex Snow star Round Green Watches</h2>
            <p class="price">&#x20b9;55000</p>
            <p class="description">
              Buy Milus Unisex Snow star Round Green Men Watch - SRPD53K1
            </p>
            <!-- <button class="add-to-cart">Add to Cart</button> -->
          </div>
        </div>

        <!-- 3 -->
        <div class="product-card">
          <div class="p-img">
            <img src="img/1.jpg" alt="Product Image" />
          </div>
          <div class="product-details">
            <h2>Daniel Wellington Men Iconic Link Round Black Watches</h2>
            <p class="price">&#x20b9;21000</p>
            <p class="description">
              Buy Daniel Wellington Iconic Link Round Quartz Black Dial Men
              Watch
            </p>
            <!-- <button class="add-to-cart">Add to Cart</button> -->
          </div>
        </div>

        <!-- 4 -->
        <div class="product-card">
          <div class="p-img">
            <img src="img/4.jpg" alt="Product Image" />
          </div>
          <div class="product-details">
            <h2>Titan Men CLASSIQUE Round Black Watches</h2>
            <p class="price">&#x20b9;32000</p>
            <p class="description">
              Buy Titan CLASSIQUE Round Quartz Black Dial Men Watch - 1698NM01
            </p>
            <!-- <button class="add-to-cart">Add to Cart</button> -->
          </div>
        </div>
      </div>
    </div>

    <div class="wrapper">
      <h2>Most Popular Brands</h2>
      <br />
      <div class="brands">
        <div class="item">
          <img src="img/b1.jpg" alt="" />
          <p class="text-center">Amazfit</p>
        </div>

        <div class="item">
          <img src="img/b2.jpg" alt="" />
          <p class="text-center">Anne Klein</p>
        </div>

        <div class="item">
          <img src="img/b3.jpg" alt="" />
          <p class="text-center">Coach</p>
        </div>

        <div class="item">
          <img src="img/b4.jpg" alt="" />
          <p class="text-center">Bering</p>
        </div>

        <div class="item">
          <img src="img/b5.jpg" alt="" />
          <p class="text-center">Casio</p>
        </div>

        <div class="item">
          <img src="img/b6.jpg" alt="" />
          <p class="text-center">Calvin Klein</p>
        </div>
      </div>
    </div>

    <%- include('partial/footer') %>
  </body>
</html>
